header>h1{
    text-align: center;
    background-color: aqua;
    padding: 5px;
    border-radius: 4px;
    font-family: tahoma;
}

.main-container{
    display: flex;
}
.container-form>h2{
    text-align: center;
    margin: auto;
}
.container-form{
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
}
.form{
    margin-bottom: 10px;
}
.form-input{
    margin-bottom: 30px;
    padding: 10px;
    background-color: #f2f3f5;
}
.button-calculate{
    text-align: center;
    background-color: #5cc0de;
    color: white;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
}
.button-reset{
    padding: 8px;
    background-color: red;
    color: white;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
}
.container-result{
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
    width: 100%;
}
.result{
    padding: 10px;
    background-color: #f2f3f5;
    padding-top: 5px;
    padding-bottom: 10px;
}
.button-result{
    text-align: center;
    background-color: #5cc0de;
    color: white;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
}
.result-definition{
    padding: 10px;
    background-color: #f2f3f5;
    padding-top: 5px;
    padding-bottom: 10px;
}